@import "../../styles/settings/media-sizes";
.root {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	display: flex;
	flex-direction: column;
	color: var(--modal-color);
	background: var(--modal-background);
	box-shadow: 2px 2px 4px var(--modal-shadow-color);
	.header {
		padding: 8px 12px;
		opacity: 0;
		box-shadow: 0 1px 1px var(--modal-header-shadow-color);
		.title {
			font-size: 1.4rem;
			font-weight: bold;
		}
		.close {
			font-size: 1.4rem;
			float: right;
			cursor: pointer;
		}
	}
	.content {
		opacity: 0;
		padding: 8px 12px;
		overflow-y: auto;
		width: 100%;
		h3 {
			font-size: 2rem;
			font-weight: bold;
			line-height: 2rem;
			margin-bottom: 12px;
			text-transform: uppercase;
		}
		img {
			display: block;
			height: auto;
			max-width: 100%;
			margin: 0 auto 12px;
			-webkit-filter: grayscale(100%) contrast(118%);
			filter: grayscale(100%);
			image-rendering: pixelated;
			border-radius: 8px;
			&:hover {
				-webkit-filter: none;
				filter: none;
			}
		}
		p {
			font-size: 1.25rem;
			line-height: 2rem;
			margin-bottom: 8px;
			&.link {
				text-align: center;
			}
			a {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		hr {
			margin: 32px auto;
		}
	}
	&.open {
		opacity: 1;
		border-radius: 8px;
		.header,
		.content {
			position: relative;
			opacity: 1;
			z-index: 1;
		}
	}
}
@media all and (min-width: $tablets-min-width) {
	.root {
		.header {
			.title {
				font-size: 1.6rem;
			}
			.close {
				font-size: 1.6rem;
			}
		}
		.content {
			padding: 24px 36px;
			h3 {
				margin-bottom: 18px;
			}
			hr {
				margin: 40px auto;
			}
		}
	}
}
@media all and (min-width: $laptops-min-width) {
	.root {
		.content {
			h3 {
				font-size: 2.8rem;
				line-height: 3rem;
				margin-bottom: 24px;
			}
			p {
				font-size: 1.6rem;
				line-height: 2.8rem;
				margin-bottom: 20px;
			}
			hr {
				margin: 52px auto;
			}
		}
	}
}
