$animation-time: 400ms;
.root {
	font-family: monospace;
	background: var(--desktop-background);
	transition: background-color $animation-time;
	background-size: cover;
	height: 100vh;
	//cursor: url("./GhostlyArrow.cur"), auto;
}
