@import "../../styles/settings/media-sizes";
$animation-time: 500ms;
.root {
	position: absolute;
	overflow: hidden;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	transform: translateY(110%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: transform $animation-time ease-in-out,
		opacity $animation-time ease-in-out,
		border-radius $animation-time ease-in-out;
	transition: transform $animation-time ease-in-out,
		opacity $animation-time ease-in-out,
		border-radius $animation-time ease-in-out;
	opacity: 0;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	color: var(--modal-color);
	background: var(--modal-background);
	.header {
		padding: 8px 12px;
		opacity: 0;
		box-shadow: 0 1px 1px var(--modal-header-shadow-color);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: opacity 0ms ease-in-out $animation-time;
		transition: opacity 0ms ease-in-out $animation-time;
		.title {
			font-size: 1.4rem;
			font-weight: bold;
		}
		.close {
			font-size: 1.4rem;
			float: right;
			cursor: pointer;
		}
	}
	.content {
		opacity: 0;
		padding: 8px 12px;
		overflow-y: auto;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: opacity 0ms ease-in-out $animation-time;
		transition: opacity 0ms ease-in-out $animation-time;
		h3 {
			font-size: 2rem;
			font-weight: bold;
			line-height: 2rem;
			margin-bottom: 12px;
			text-transform: uppercase;
		}
		img {
			display: block;
			height: auto;
			max-width: 100%;
			margin: 0 auto 12px;
			-webkit-filter: grayscale(100%) contrast(118%);
			filter: grayscale(100%);
			image-rendering: pixelated;
			border-radius: 8px;
			&:hover {
				-webkit-filter: none;
				filter: none;
			}
		}
		p {
			font-size: 1.25rem;
			line-height: 2rem;
			margin-bottom: 8px;
			&.link {
				text-align: center;
			}
			a {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		hr {
			margin: 32px auto;
		}
	}
	.animation-mask {
		display: block;
		position: absolute;
		width: 1px;
		height: 1px;
		background: var(--modal-background);
		bottom: 0px;
		left: 50%;
		top: 115%;
		border-radius: 50%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: left $animation-time ease-in-out,
			margin-left $animation-time ease-in-out,
			border-radius $animation-time ease-in-out;
		transition: left $animation-time ease-in-out,
			margin-left $animation-time ease-in-out,
			border-radius $animation-time ease-in-out;
	}
	&.open {
		opacity: 1;
		transform: translateY(0px);
		border-radius: 8px;
		.header,
		.content {
			position: relative;
			opacity: 1;
			z-index: 1;
		}
		.animation-mask {
			height: 200%;
			width: 200%;
			border-radius: 10%;
			top: 100%;
			left: 50%;
			margin-left: -100%;
			margin-top: -100%;
		}
	}
}
@media all and (min-width: $tablets-min-width) {
	.root {
		.header {
			.title {
				font-size: 1.6rem;
			}
			.close {
				font-size: 1.6rem;
			}
		}
		.content {
			padding: 24px 36px;
			h3 {
				margin-bottom: 18px;
			}
			hr {
				margin: 40px auto;
			}
		}
	}
}
@media all and (min-width: $laptops-min-width) {
	.root {
		.content {
			padding: 40px 52px;
			h3 {
				font-size: 2.8rem;
				line-height: 3rem;
				margin-bottom: 24px;
			}
			p {
				font-size: 1.6rem;
				line-height: 2.8rem;
				margin-bottom: 20px;
			}
			hr {
				margin: 52px auto;
			}
		}
	}
}
