@import "../styles/settings/media-sizes";
.root {
	.profile-img {
		width: 320px;
	}
	.project-img {
		width: 480px;
	}
}

@media all and (min-width: $laptops-min-width) {
	.root {
		img.profile-img {
			float: right;
			margin-left: 16px;
		}
		img.project-img {
			float: left;
			margin-right: 16px;
		}
	}
}
