@import "../styles/settings/media-sizes";
.root {
	img.profile-img {
		width: 100%;
		max-width: 320px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	img.project-img {
		width: 100%;
		max-width: 480px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: $laptops-min-width) {
	.root {
		img.profile-img {
			float: right;
		}
		img.project-img {
			float: left;
		}
	}
}
