@import "../styles/settings/media-sizes";
.experience-item {
	margin-bottom: 18px;
	.title {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 4px;
	}
	.place,
	.period,
	.link {
		margin-bottom: 4px;
		line-height: 16px;
	}
}
.projects {
	margin-bottom: 20px;
	.stack {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 16px;
	}
	.project {
		margin-bottom: 22px;
		flex: 100%;
		padding: 16px;
		border: 1px solid #999999;
		border-radius: 12px;
	}
	p {
		line-height: 20px;
		margin-bottom: 8px;
	}
	.title {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 12px;
	}
	.link {
		font-weight: normal;
		display: inline-block;
		margin-top: 4px;
		margin-left: 8px;
		svg {
			margin-right: 4px;
			vertical-align: middle;
		}
	}
	.techs {
		font-style: italic;
		font-size: 12px;
		line-height: 140%;
	}
}
.icons {
	svg {
		width: 40px !important;
		height: 40px !important;
	}
}

@media all and (min-width: $tablets-min-width) {
	.projects {
		.project {
			flex: 50%;
		}
	}
}
@media all and (min-width: $laptops-min-width) {
	.projects {
		.project {
			flex: 33.33%;
		}
	}
}
